html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#todo{
	width: 100%;
	height: 100%;
	background-color: #92D07D;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
}

#top{
	width: 100%;
	height: 120px;
	background-color: #57973B;
	background-size: 100% 100%;
	padding: 0px;
	border-top: 2px solid #355F24;
	border-bottom: 2px solid #355F24;
}
#titulo1{
	width: 85px;
	height: 80%;
	color: white;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 90px;
	float: left;
}
#titulo2{
	width: 150px;
	height: 80%;
	color: green;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 0px;
	float: left;
}
#titulo3{
	width: 60px;
	height: 80%;
	color: white;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 0px;
	float: left;
}

#reg{
	width: 170px;
	height: 30%;
	float: right;
	margin-right: 90px;
	margin-top: 55px;
	background-color: #92D07D;
	background-size: 100% 100%;
	border: 2px solid #355F24;
	font-size: 30px;
	color: #355F24;
	text-align: center;
	border-radius: 55px;


}
#log{
	width: 150px;
	height: 30%;
	float: right;
	margin-right: 10px;
	margin-top: 55px;
	background-color: #92D07D;
	background-size: 100% 100%;
	border: 2px solid #355F24;
	font-size: 30px;
	color: #355F24;
	text-align: center;
	border-radius: 55px;
}

#centro{
	width: 100%;
	height: 70%;
}

#cajaAviso{
	width: 40%;
	height: 40%;
	margin-left: 25%;
	margin-top: 10%;
	background-color: #57973B;
	background-size: 100% 100%;
	border: 2px solid #355F24;
	text-align: center;
	border-radius: 55px;
	text-align: center;
}