html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#todo{
	width: 100%;
	height: 100%;
	background-color: #92D07D;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
}

#top{
	width: 100%;
	height: 120px;
	background-color: #57973B;
	background-size: 100% 100%;
	padding: 0px;
	border-top: 2px solid #355F24;
	border-bottom: 2px solid #355F24;
}
#titulo1{
	width: 85px;
	height: 80%;
	color: white;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 90px;
	float: left;
}
#titulo2{
	width: 150px;
	height: 80%;
	color: green;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 0px;
	float: left;
}
#titulo3{
	width: 60px;
	height: 80%;
	color: white;
	font-size: 80px;
	margin-top: 20px;
	margin-left: 0px;
	float: left;
}

#reg{
	width: 170px;
	height: 30%;
	float: right;
	margin-right: 90px;
	margin-top: 55px;
	background-color: #92D07D;
	background-size: 100% 100%;
	border: 2px solid #355F24;
	font-size: 30px;
	color: #355F24;
	text-align: center;
	border-radius: 55px;


}
#log{
	width: 150px;
	height: 30%;
	float: right;
	margin-right: 10px;
	margin-top: 55px;
	background-color: #92D07D;
	background-size: 100% 100%;
	border: 2px solid #355F24;
	font-size: 30px;
	color: #355F24;
	text-align: center;
	border-radius: 55px;
}
#centro{
	width: 100%;
	height: 70%;
}

#cajaRegistro{
	width: 40%; 
	height: 80%;
	margin-left: 10%;
	margin-top: 3%;
	border-left: 2px solid #355F24;
	border-right: 2px solid #355F24;
	border-bottom: 2px solid #355F24;
	border-top: 2px solid #355F24;
	float: left;
	background-color: #57973B;
	border-radius: 55px;
}

#inicio{
	width: 100%;
	height: 8%;
	text-align: center;
	font-size: 20px;
	margin-top: 2%;
	border-bottom: 2px solid #355F24;
}

#datos{
	width: 100%;
	height: 85%;
	float: left;
}

#nombre{
	width: 100%;
	height: 15%;
	float: left;
	margin-top: 1%;
}

#textoNombre{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%; 
	font-size: 17px;
}

#cajaNombre{
	width: 70%;
	height: 100%;
	float: right;
}

#region{
	width: 100%;
	height: 15%;
	float: left;
}

#textoRegion{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%; 
	font-size: 17px;
}

#cajaRegion{
	width: 70%;
	height: 80%;
	float: right;
}

#direccion{
	width: 100%;
	height: 15%;
	float: left;
}

#textoDireccion{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%; 
	font-size: 17px;
}

#cajaDireccion{
	width: 70%;
	height: 80%;
	float: right;
}

#descripcion{
	width: 100%;
	height: 15%;
	float: left;
}

#textoDescripcion{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%; 
	font-size: 17px;
}

#cajaDescripcion{
	width: 70%;
	height: 80%;
	float: right;
}

#imagen{
	width: 100%;
	height: 15%;
	float: left;
}

#textoImagen{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%; 
	font-size: 17px;
}

#cajaImagen{
	width: 70%;
	height: 80%;
	float: right;
}

#boton{
	float: right;
	margin-top: 1%;
	margin-right: 15%;
}